@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
/* fonts */
:root {
  --font-inter: "Inter", sans-serif;
  --font-miama: "Miama", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
select,
input::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
}
ol,
ul {
  list-style: none;
}

/* css style */
body {
  background: black;
  font-family: var(--font-inter);
  color: #ffffff;
}
.polash {
  border: 1px solid red;
}
/* main-box style */
.main_box {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 576px) and (max-width: 1120px) {
  .main_box {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
}
@media screen and (max-width: 576px) {
  .main_box {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}
/* btn style */
.btn_totamo {
  border-radius: 2.625rem;
  background-color: rgb(230, 83, 60);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  .hero_btn_span {
    display: none;
  }
}
.btn_black {
  border-radius: 2.625rem;
  background-color: rgb(0, 0, 0);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.375rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
}
@media screen and (max-width: 576px) {
  .btn_black {
    padding-left: 21px;
    padding-right: 21px;
  }
}

/* header style */

/* nav style */
nav {
  padding-top: 3.5625rem;
}
@media screen and (min-width: 0px) and (max-width: 992px) {
  nav {
    padding-top: 3.25rem;
  }
}
.nav_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_tittle {
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
  line-height: 2.7rem;
  color: rgb(230, 83, 60);
}
.nav_items {
  display: block;
}
@media screen and (max-width: 576px) {
  .nav_items {
    display: none;
  }
}
.nav_items ul {
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2.4375rem;
  align-items: center;
  padding: 0.25rem;
  gap: 1.25rem;
}
.nav_items ul li a {
  display: block;
  text-decoration: none;
  color: red;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav_items_active {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.nav_items_last {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.mobile_icon {
  display: none;
}
@media screen and (max-width: 576px) {
  .mobile_icon {
    display: flex;
  }
}

/* hero section */
.hero_container {
  max-width: 1036px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
@media screen and (min-width: 576px) and (max-width: 1120px) {
  .hero_container {
    margin-top: 4.6875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media screen and (max-width: 576px) {
  .hero_container {
    margin-top: 3.19rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
.hero_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero_row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .hero_row {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.hero_content {
  max-width: 599px;
  /* margin-top: 4rem; */
}
.hero_tittle {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
  padding-bottom: 1.75rem;
  text-align: left;
}
@media screen and (max-width: 576px) {
  .hero_tittle {
    max-width: 285px;
    font-size: 2.25rem;
  }
}
.hero_shape {
  font-family: var(--font-miama);
  font-weight: 400;
  font-style: italic;
  line-height: 2.7rem;
}
.hero_discription {
  max-width: 520px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  padding-bottom: 1.75rem;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero_discription {
    max-width: 599px;
  }
}
@media screen and (max-width: 576px) {
  .hero_discription {
    max-width: 274px;
    text-align: justify;
  }
}
.hero_btn {
  display: flex;
  gap: 0.875rem;
}
.hero_img {
  position: relative;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero_img {
    margin-top: 6.25rem;
  }
}
@media screen and (max-width: 576px) {
  .hero_img {
    margin-top: 3rem;
  }
}
.hero_img img {
  max-width: 100%;
  height: auto;
}
/* hero sub button */
.hero_frist_sub {
  position: absolute;
  top: 125px;
  left: 230px;
  width: 224px;
  height: 98px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding-left: 18.14px;
  padding-top: 12.85px;

  padding-bottom: 11.22px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5rem);
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero_frist_sub {
    position: absolute;
    top: 59px;
    left: 191px;
    width: 224px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding-left: 18.14px;
    padding-top: 12.85px;

    padding-bottom: 11.22px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5rem);
  }
}
@media screen and (max-width: 576px) {
  .hero_frist_sub {
    position: absolute;
    top: 47px;
    left: 194px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding-left: 18.14px;
    padding-top: 12.85px;

    padding-bottom: 11.22px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5rem);
    width: 145px;
    height: 74px;
  }
}
.hero_frist_sub_tittle {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: left;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero_frist_sub_tittle {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  .hero_frist_sub_tittle {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 30.24px;
    font-weight: 900;
    line-height: 30.24px;
    letter-spacing: 0.76px;
    text-align: left;
  }
}
.hero_frist_sub_desc {
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero_frist_sub_desc {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .hero_frist_sub_desc {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 9.83px;
    font-weight: 400;
    line-height: 15.12px;
    letter-spacing: 0.76px;
    text-align: left;
    padding-top: 5px;
  }
}
/* hero second sub button */
.hero_second_sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 63px;
  left: -113px;
  width: 206px;
  height: 96px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding-left: 18.14px;
  padding-top: 12.85px;

  padding-bottom: 11.22px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5rem);
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero_second_sub {
    bottom: 131px;
    left: -50px;
  }
}
@media screen and (max-width: 576px) {
  .hero_second_sub {
    bottom: 244.04px;
    left: 12px;
  }
}
.hero_second_sub_circle {
  background: rgb(230, 83, 60);
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
@media screen and (max-width: 576px) {
  .hero_second_sub_circle {
    width: 30.24px;
    height: 30.24px;
  }
}
.hero_second_sub_tittle {
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
@media screen and (max-width: 576px) {
  .hero_second_sub_tittle {
    font-size: 18.14px;
  }
}
.hero_second_sub_desc {
  color: rgba(239, 237, 232, 0.65);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  padding-top: 8px;
}
@media screen and (max-width: 576px) {
  .hero_second_sub_desc {
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 12.1px;
    font-weight: 400;
    line-height: 18.14px;
    letter-spacing: 0.38px;
    text-align: left;
  }
}
.play-icon {
  font-size: 1.125rem;
  color: white;
  margin-left: 12px;
  margin-top: 8px;
}
@media screen and (max-width: 576px) {
  .play-icon {
    font-size: 0.85rem;
    margin-top: 7px;
    margin-left: 10px;
  }
}
/* ---------------------------------- */
/* habit style */
.habit {
  margin-top: 6.25rem;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .habit {
    margin-top: 6.25rem;
  }
}
@media screen and (max-width: 576px) {
  .habit {
    margin-top: 0px;
  }
}
.habit_content {
  max-width: 671px;
  margin-left: auto;
  margin-right: auto;
}
.habit_tittle {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .habit_tittle {
    font-size: 2rem;
  }
}
.habit_description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  padding-top: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}

/* habit card */
.habit_card {
  margin-top: 3.625rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, auto));
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .habit_card {
    grid-template-columns: repeat(2, minmax(0, auto));
  }
}
@media screen and (max-width: 576px) {
  .habit_card {
    grid-template-columns: repeat(1, minmax(0, auto));
  }
}
/* movement card */
.habit_movement {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 1.725rem;
}

.habit_movement_img img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}
.habit_movement_tittle {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.habit_movement_description {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.375rem;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}

/* time card */
.habit_time {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 1.725rem;
}

.habit_time_img img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}
.habit_time_tittle {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.habit_time_description {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.375rem;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}
/* habit practice card */
.habit_Practice {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 1.725rem;
}

.habit_practice_img img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}
.habit_practice_tittle {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.habit_practice_description {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.375rem;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}
/* habit weight section */
.habit_Weight {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 1.725rem;
}

.habit_weight_img img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}
.habit_weight_tittle {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}
.habit_weight_description {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.375rem;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}

/* ******************************** */
/* run section style */
.run {
  margin-top: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.94rem;
  border-radius: 1.125rem;

  background: rgb(34, 34, 34);
  background-size: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.94rem;
  padding-bottom: 1.94rem;
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .run {
    margin-top: 84px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .run {
    margin-top: 84px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .run {
    margin-top: 66px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.run_content {
  display: flex;
  max-width: 27.6875rem;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 576px) {
  .run_content {
    max-width: 17.9375rem;
  }
}
.run_tittle {
  color: #fff;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 57.6px */
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .run_tittle {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 576px) {
  .run_tittle {
    font-size: 2rem;
  }
}
.run_description {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.3px;
  padding-top: 0.875rem;
}
.run_btn_box {
  max-width: 287px;
  display: flex;
  align-items: flex-start;
  margin-top: 2.125rem;
}
@media screen and (max-width: 576px) {
  .run_btn_box {
    justify-content: center;
    align-self: center;
  }
}
.run_btn {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  border-radius: 42px;
  background: #e6533c;

  padding: 16px 67px;
}
@media screen and (max-width: 576px) {
  .run_btn {
    padding: 16px 95px;
  }
}
.run_img {
  max-width: 22.875rem;
  height: 19.5rem;
  overflow: clip;
  border-radius: 1.125rem;
}
.run_img img {
  width: 65rem;
  height: auto;
  object-position: -480px -102px;
}
@media screen and (max-width: 576px) {
  .run_img {
    max-width: 17.9375rem;
    height: 10.625rem;
  }
  .run_img img {
    max-width: 100%;
    height: auto;
    object-position: 0px 0px;
  }
}
/* *********************************** */
/* Exercise style */
.exercise {
  margin-top: 6.25rem;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .exercise {
    margin-top: 4.5rem;
  }
}
@media screen and (max-width: 576px) {
  .exercise {
    margin-top: 4.125rem;
  }
}
.exercise_tittle {
  max-width: 671px;
  color: #fff;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
@media screen and (max-width: 576px) {
  .exercise_tittle {
    font-size: 2rem;
  }
}
.exercise_description {
  max-width: 671px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.exercises_row {
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-columns: repeat(3, minmax(0, auto));
  margin-top: 58px;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .exercises_row {
    grid-template-columns: repeat(2, minmax(0, auto));
    margin-top: 58px;
  }
}
@media screen and (max-width: 576px) {
  .exercises_row {
    margin-top: 37px;
    grid-template-columns: repeat(1, minmax(0, auto));
  }
}
/* body trainer */
.body_trainer {
  position: relative;
  height: 400px;
  position: relative;
}
.body_trainer_content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform: scale(0);
}
.body_trainer:hover .body_trainer_content {
  transform: scale(1);
}
.body_trainer {
  height: 400px;
}
.body_trainer_tittle {
  font-size: 2rem;
  padding-top: 80px;
  color: #ffff;
}
.body_trainer_sub_tittle {
  font-size: 1.25rem;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.body_trainer_des {
  padding-top: 20px;
  font-size: 16px;
}
.body_trainer img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
/* swimming style */
.swimming_trainer {
  position: relative;
  height: 400px;
  position: relative;
}
.swimming_trainer_content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transition: 0.5s;
  transform: scale(0);
}
.swimming_trainer:hover .swimming_trainer_content {
  transform: scale(1);
}
.swimming_trainer {
  height: 400px;
}
.body_trainer_tittle {
  font-size: 2rem;
  padding-top: 80px;
  color: #ffff;
}
.swimming_trainer_tittle {
  font-size: 1.25rem;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.swimming_trainer_sub_tittle {
  padding-top: 20px;
  font-size: 16px;
}
.swimming_trainer img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
